<div class="container">
<h2>Sign up for Pitterchat!</h2>
  <div class="row">
    <div class="col-8">
      <% @brandnew = true %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <%= render "form", f: f %>

        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-primary'  %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    <div class="col-4">
      <div class="card bg-light">
        <%= image_tag 'pitterchatlogo.jpg', width: '150', height: '150', alt: "Pitterchat Logo" %>
        <div class="card-body">
          <h4 style="text-align: center;">Because critters need to twitter too....</h4>
        </div>
      </div>
    </div>
  </div>
</div>
