<div class="row">
  <div class="user_profile col-4">
    <%= render "shared/avatar", user: user, width: "100px" %>
      <br>
      <p>@<%=  user.username  %> <br>
          <%=  user.full_name %> <br>
          <%=  user.city %>, <%= user.state %></p>
      <br>
      <p class="user_bio"><%= user.bio %></p>
      <br>
      <% unless current_user == user || current_user.following.include?(user.id) %>
        <%= link_to "Follow", follow_user_path(user.id), class: "btn btn-primary" %>
      <% end %>
  </div>

  <div class="message_list col-8">
    <% if current_user == user %>
      <h4>Got something to say??</h4>
      <%= form_for message do |form| %>
        <%= form.text_area :body %>
        <%= form.submit "Tweet It!", class: "btn btn-primary" %>
        <hr>
        <% end %>
    <% end %>
      <% @messages.each do |message| %>
        <div class="message">
            <%= render "shared/avatar", user: message.user, width: "50px" %>
            <%= image_tag "usericon.jpg" %>
            <p><%= message.body %></p>
            <p class="message-date"><%= time_ago_in_words(message.created_at) %> ago</p>
        </div>
      <% end %>
  </div>
</div>
